In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

#   Pair Programming Visualización III - Seaborn

En este ejercicio, de nuevo, trabajaremos con el csv que generamos 

en el ejercicio de pair programming de Pandas V, ese en el que habíamos unido distintos csv en uno.

En estos ejercicios aprenderemos a hacer algunas gráficas usando la librería seaborn. Igual que el ejercicio anterior 

de pair programming, para solucionar algunas preguntas tendréis que usar métodos y herramientas aprendidas

anteriormente como groupby, value_counts, rename, filtrado de datos, etc.

In [5]:
df = pd.read_csv("../Pandas/05-attacks_union.csv")
df.head(1)

,Unnamed: 0,case_number,year_,type_,country_,area_,location_,activity_,name_,se__,age_,time_,species_,investigator_or_source_,pdf_,href_formula_,href_,case_number.1_,case_number.2_,original_order_,year_.1,type_.1,country_.1,area_.1,location_.1,activity_.1,name_.1,se_,age_.1,time_.1,species_.1,investigator_or_source_.1,pdf_.1,href_formula_.1,href_.1,case_number.1_.1,case_number.2_.1,original_order_.1,fatal_(y/n),injury,date
0,0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,Y,"FATAL, all onboard were killed by sharks",1800

# Usando la librería seaborn

# 1.Crea una gráfica de barras que muestre el **número de personas**

#  que han hecho cada **actividad** en cada año. 

# Hacedlo solo desde el **2015**.
Os podrá salir una gráfica un poco fea, no os preocupeis, es lo que esperamos.

# **Análisis**: 
Como podemos observar al obtener estos resultados

# 2. Crea una gráfica de barras que muestre el **número de ataques** que han ocurrido 
# cada **año** en función del **sexo**. Hacedlo solo desde el **2015**.

# **Análisis**: 
Como podemos observar al obtener estos resultados

# 3. ¿Cuántos **ataques** hubo por **año**? Seleccionad solo desde el año **1500**.

# **Análisis**: 
Como podemos observar al obtener estos resultados

# 4. Seleccionad solo los registros de **USA, AUSTRALIA y SOUTH AFRICA.**
# Muestra el número de ataques por **país** y año desde el año **1900**.

# **Análisis**: 
Como podemos observar al obtener estos resultados

# 5. Realizad un boxplot donde se muestre los principales
#  estadísticos del número de **ataques por país**.

📌 NOTA Somos analistas y no nos vale con sacar las gráficas.Incluid una celda de markdown donde expliqueis que es lo que estamos viendo en las gráficas, es decir,haced una interpretación de los resultados.

# **Análisis**: 
Como podemos observar al obtener estos resultados