In [ ]:
##############################   Pair Programming Pandas II  ###############################

In [ ]:
#En este ejercicio de pair programming pondremos en práctica como cargar 
# distintos tipos de archivos en Python usando Pandas.
# Al final de la explicación encontrareís una serie de ficheros con distintos formatos.
# Los objetivos de este pair programming:
    # Id cargando todos los ficheros en vuestro jupyter.
    # Si os da error leer el pickle será por la versión de pandas. 
# Podéis guardar el csv como pickle y cargarlo de ahí.

In [3]:
import pandas as pd
import pickle
import numpy as np

In [2]:
#pickle
archivo_pickle=pd.read_pickle('02-algas.pickle')
archivo_pickle

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6691,27748,-125.1548,48.8266,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8266,-125.1548",British Columbia,Canada,2020-02-01,1,10
6692,27752,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,3
6693,27759,-125.1550,48.8264,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8264,-125.155",British Columbia,Canada,2020-02-01,1,5
6694,27776,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,10
6695,27781,-125.1542,48.8269,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8269,-125.1542",British Columbia,Canada,2020-02-01,1,6

In [27]:
#csv
df_csv = pd.read_csv("02-quejas.csv", encoding="latin", sep = ";" )
df_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [16]:
#json
df_json = pd.read_json("02-quejas.json")
df_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [15]:
#xlsx
df_xlsx = pd.read_excel("02-quejas2.xlsx")
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [ ]:
# Para poner el práctica el read_clipboard elegir alguna tabla 
# que os podaís encontrar en google y usad dicho método 
# para traer los datos al jupyter notebook.

In [6]:
archivo_clipboard = pd.read_clipboard()
archivo_clipboard

,,,,,,,,,,,,,,,,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,...,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240
Ambos sexos,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Total,203.253,198.568,191.803,189.438,208.345,207.646,33.555,32.254,33.237,30.215,34.664,33.468,10.795,10.646,10.335,9.655,11.156,10.725,17.331,16.686,18.019,15.880,18.343,17.667,5.429,...,3.580,3.538,3.793,3.700,571.0,571.0,608.0,761.0,686.0,846.0
Menos de 25 años,131.776,130.782,131.801,134.585,146.334,148.914,20.039,18.864,18.985,19.062,21.185,20.880,6.661,6.385,6.035,6.076,6.797,6.733,10.519,9.716,10.120,10.175,11.309,11.096,2.859,...,2.542,2.465,2.538,2.457,317.0,313.0,389.0,414.0,388.0,493.0
De 25 a 30 años,44.345,41.819,38.210,35.346,40.167,36.819,7.875,7.846,8.203,6.788,8.083,7.239,2.663,2.810,2.701,2.382,2.919,2.666,3.779,3.824,4.229,3.241,3.851,3.362,1.433,...,741.000,765.000,903.000,827.000,115.0,118.0,115.0,93.0,88.0,129.0
De 31 a 40 años,17.641,17.084,13.899,11.633,13.285,12.950,4.029,4.115,4.448,3.101,3.877,3.710,1.110,1.158,1.233,891.000,1.083,996.000,2.205,2.361,2.734,1.770,2.319,2.257,714.000,...,192.000,176.000,224.000,265.000,89.0,95.0,60.0,121.0,121.0,107.0
Más de 40 años,9.491,8.883,7.893,7.874,8.559,8.963,1.612,1.429,1.601,1.264,1.519,1.639,361.000,293.000,366.000,306.000,357.000,330.000,828.000,785.000,936.000,694.000,864.000,952.000,423.000,...,105.000,132.000,128.000,151.000,50.0,45.0,44.0,133.0,89.0,117.0
Hombres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,84.307,82.672,77.414,76.942,83.712,82.983,6.667,6.433,6.530,5.880,6.707,6.724,639.000,614.000,636.000,584.000,811.000,770.000,5.117,5.033,5.130,4.541,5.117,5.170,911.000,...,990.000,1.069,1.171,1.145,438.0,438.0,446.0,620.0,560.0,612.0
Menos de 25 años,49.639,49.856,50.011,51.226,55.483,56.425,3.593,3.384,3.440,3.406,3.843,3.908,312.000,292.000,315.000,316.000,428.000,380.000,2.932,2.768,2.795,2.765,3.059,3.172,349.000,...,603.000,661.000,675.000,664.000,228.0,229.0,265.0,314.0,300.0,305.0
De 25 a 30 años,21.386,20.058,17.579,16.748,18.463,16.858,1.814,1.806,1.764,1.536,1.797,1.622,211.000,203.000,193.000,180.000,273.000,283.000,1.327,1.373,1.335,1.107,1.270,1.125,276.000,...,293.000,303.000,365.000,331.000,96.0,94.0,93.0,77.0,68.0,101.0
De 31 a 40 años,8.584,8.303,6.146,5.260,5.749,5.578,921.000,948.000,980.000,656.000,774.000,826.000,96.000,105.000,104.000,67.000,80.000,87.000,644.000,684.000,758.000,486.000,591.000,619.000,181.000,...,59.000,66.000,88.000,98.000,70.0,79.0,47.0,108.0,106.0,96.0
Más de 40 años,4.698,4.455,3.678,3.708,4.017,4.122,339.000,295.000,346.000,282.000,293.000,368.000,20.000,14.000,24.000,21.000,30.000,20.000,214.000,208.000,242.000,183.000,197.000,254.000,105.000,...,35.000,39.000,43.000,52.000,44.0,36.0,41.0,121.0,86.0,110.0
Mujeres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,118.946,115.896,114.389,112.496,124.633,124.663,26.888,25.821,26.707,24.335,27.957,26.744,10.156,10.032,9.699,9.071,10.345,9.955,12.214,11.653,12.889,11.339,13.226,12.497,4.518,...,2.590,2.469,2.622,2.555,133.0,133.0,162.0,141.0,126.0,234.0
Menos de 25 años,82.137,80.926,81.790,83.359,90.851,92.489,16.446,15.480,15.545,15.656,17.342,16.972,6.349,6.093,5.720,5.760,6.369,6.353,7.587,6.948,7.325,7.410,8.250,7.924,2.510,...,1.939,1.804,1.863,1.793,89.0,84.0,124.0,100.0,88.0,188.0
De 25 a 30 años,22.959,21.761,20.631,18.598,21.704,19.961,6.061,6.040,6.439,5.252,6.286,5.617,2.452,2.607,2.508,2.202,2.646,2.383,2.452,2.451,2.894,2.134,2.581,2.237,1.157,...,448.000,462.000,538.000,496.000,19.0,24.0,22.0,16.0,20.0,28.0
De 31 a 40 años,9.057,8.781,7.753,6.373,7.536,7.372,3.108,3.167,3.468,2.445,3.103,2.884,1.014,1.053,1.129,824.000,1.003,909.000,1.561,1.677,1.976,1.284,1.728,1.638,533.000,...,133.000,110.000,136.000,167.000,19.0,16.0,13.0,13.0,15.0,11.0
Más de 40 años,4.793,4.428,4.215,4.166,4.542,4.841,1.273,1.134,1.255,982.000,1.226,1.271,341.000,279.000,342.000,285.000,327.000,310.000,614.000,577.000,694.000,511.000,667.000,698.000,318.000,...,70.000,93.000,85.000,99.000,6.0,9.0,3.0,12.0,3.0,7.0

In [ ]:
# Una vez que los hayáis cargado, guardad esos datos 
# en los siguientes formatos:
# csv
# excel
# json
# pickle

In [21]:
#excel
excel_convertido = df_xlsx.to_excel("02-quejas2.xlsx")

In [22]:
excel_convertido

In [24]:
#json
df_json.to_json("02-quejas.json")

In [25]:
#pickle
archivo_pickle.to_pickle("02-algas.pickle")

In [28]:
#csv
df_csv.to_csv("02-quejas.csv")