In [1]:
##############################   Pair Programming Pandas II  ###############################

In [2]:
#En este ejercicio de pair programming pondremos en práctica como cargar 
# distintos tipos de archivos en Python usando Pandas.
# Al final de la explicación encontrareís una serie de ficheros con distintos formatos.
# Los objetivos de este pair programming:
    # Id cargando todos los ficheros en vuestro jupyter.
    # Si os da error leer el pickle será por la versión de pandas. 
# Podéis guardar el csv como pickle y cargarlo de ahí.

In [3]:
import pandas as pd
import pickle
import numpy as np

In [4]:
#pickle
archivo_pickle=pd.read_pickle('datos/02-algas.pickle')
archivo_pickle

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6691,27748,-125.1548,48.8266,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8266,-125.1548",British Columbia,Canada,2020-02-01,1,10
6692,27752,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,3
6693,27759,-125.1550,48.8264,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8264,-125.155",British Columbia,Canada,2020-02-01,1,5
6694,27776,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,10
6695,27781,-125.1542,48.8269,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8269,-125.1542",British Columbia,Canada,2020-02-01,1,6

In [6]:
#csv
df_csv = pd.read_csv("datos/02-quejas.csv", encoding="latin", sep = ";" )
df_csv.head()

  ,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0  0,Queja,Recepcionada por Unidad,INTERNET,2022-...
1  1,Queja,Recepcionada por Unidad,INTERNET,2022-...
2  2,Queja,Recepcionada por Unidad,INTERNET,2022-...
3  3,Queja,Recepcionada por Unidad,INTERNET,2022-...
4  4,Queja,Recepcionada por Unidad,INTERNET,2022-...

In [7]:
#json
df_json = pd.read_json("datos/02-quejas.json")
df_json.head()

                                                   data
0     {'unidad_descripcion': 'D.G. de Descarbonizaci...
1     {'unidad_descripcion': 'D.G. de Descarbonizaci...
10    {'unidad_descripcion': 'D.G. de Descarbonizaci...
100   {'unidad_descripcion': 'Dirección del Área Ter...
1000  {'unidad_descripcion': 'Dirección General de A...

In [8]:
#xlsx
df_xlsx = pd.read_excel("datos/02-quejas2.xlsx")
df_xlsx.head()

,Unnamed: 0,DESCRIPCION_TEMA,DESCRIPCION_SUBTEMA
0,0,ATENCIÓN AL CIUDADANO,ADMINISTRACIÓN ELECTRÓNICA
1,1,ATENCIÓN AL CIUDADANO,FUNCIÓN PÚBLICA
2,2,ATENCIÓN AL CIUDADANO,OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3,3,ATENCIÓN AL CIUDADANO,OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4,4,ATENCIÓN AL CIUDADANO,OTROS

In [9]:
# Para poner el práctica el read_clipboard elegir alguna tabla 
# que os podaís encontrar en google y usad dicho método 
# para traer los datos al jupyter notebook.

In [10]:
archivo_clipboard = pd.read_clipboard()
archivo_clipboard

Empty DataFrame
Columns: [datos/]
Index: []

In [11]:
# Una vez que los hayáis cargado, guardad esos datos 
# en los siguientes formatos:
# csv
# excel
# json
# pickle

In [19]:
#excel
excel_convertido = df_xlsx.to_excel("datos/02-quejas2.xlsx")

In [14]:
#json
df_json.to_json("datos/02-quejas.json")

In [15]:
#pickle
archivo_pickle.to_pickle("datos/02-algas.pickle")

In [16]:
#csv
df_csv.to_csv("datos/02-quejas.csv")