In [1]:
####################################    Pair Programming Pandas IV      ####################################

# Hoy seguiremos trabajando con el csv de ataques que exploramos ayer.
#  Para eso, ayer guardasteis al final del pair programming al que 
# le hab√≠amos elimiando algunas columnas. Utilizad ese fichero.
import pandas as pd
import numpy as np

# En la lecci√≥n de hoy tendr√©is que ir contestando una serie 
# de preguntas que os planteamos. Para ello tendr√©is que aplicar
#  los conocimientos adquiridos en la clase invertida sobre como
#  filtrar datos en el DataFrame y como reemplazar valores en el DataFrame.

In [2]:
# Cargad el csv que guardasteis ayer.
df_tiburones = pd.read_csv("datos/03-attacks_new1.csv")
df_tiburones.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [3]:
# Antes de seguir con las preguntas, este DataFrame 
# est√° terriblemente sucio. En las pr√≥ximas sesiones 
# lo iremos limpiando. Para evitar posibles errores con los nulos
# vamos a eliminar todos los nulos del DataFrame.
# Para ello vamos a utilizar el m√©todo .dropna() de pandas. 
# Tendr√©is que ejecutar la siguiente l√≠nea de c√≥digo para eliminar 
# los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [4]:
df_tiburones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  6113 non-null   object
 1   Unnamed: 0   6114 non-null   int64
 2   Year         6114 non-null   float64
 3   Type         6110 non-null   object
 4   Country      6074 non-null   object
 5   Area         5706 non-null   object
 6   Location     5626 non-null   object
 7   Activity     5603 non-null   object
 8   Name         5914 non-null   object
 9   Sex          5564 non-null   object
 10  Age          3448 non-null   object
 11  Time         2934 non-null   object
 12  Species      3409 non-null   object
 13  HREF         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

In [5]:
df_total = df_tiburones.shape
df_total

(6114, 14)

In [6]:
# ¬øCu√°ntas filas se han eliminado con esta l√≠nea de c√≥digo?

df_tiburones.dropna(inplace = True)
df_tiburones

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...

In [7]:
df_tiburones.shape

(1502, 14)

In [8]:
df_total[0]-df_tiburones.shape[0]

4612

In [9]:
# ¬øCu√°l es el n√∫mero de ataques que se han producido en Estados Unidos?
df_ataque_usa = df_tiburones[df_tiburones["Country"] == "USA"]
df_ataque_usa.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [10]:
df_ataque_usa.shape

(719, 14)

In [11]:
print(f'En USA se han producido {(df_ataque_usa.shape[0])} ataques')

En USA se han producido 719 ataques

In [12]:
# ¬øY en Espa√±a?

df_spain = df_tiburones[df_tiburones["Country"] == "SPAIN"]
df_spain.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castell√≥n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, G√°ldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [13]:
df_spain.shape

(5, 14)

In [14]:
print(f'En Espa√±a se han producido {(df_spain.shape[0])} ataques')

En Espa√±a se han producido 5 ataques

In [15]:
# 3.1 ¬øEn qu√© regiones se han producido los ataques (columna location) ?

#df_spain_location = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Location"])]
#df_spain_location.head()


df_spain_location = df_spain["Location"].unique()
df_spain_location

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, G√°ldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

In [16]:
# 3.2 ¬øCu√°ntos ataques se han producido en cada √°rea (columna area?

#df_spain_ataques = (df_tiburones["Area"]).value_counts()
# df_spain_ataques, No sabemos cu√°l ser√≠a la soluci√≥n

df_spain_ataques = df_spain["Area"].value_counts()
df_spain_ataques

# df_spain_ataques = (df_tiburones["Area"]).value_counts()
# df_spain_ataques, No sabemos cu√°l ser√≠a la soluci√≥n.
# df_spain2 = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Area"])].value_counts()
# df_spain2

Castell√≥n              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: Area, dtype: int64

In [17]:
# Extraed un DataFrame nuevo con los ataques que se han producido 
# en Australia y Estados Unidos. 

df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [18]:

# üìå Nota Este ejercicio se puede resolver usando 
# dos condiciones de filtrado o usando el m√©todo isin(). 
# Hacedlo con ambas herramientas.

df_aus_usa_isin = df_tiburones[(df_tiburones["Country"] == "USA").isin(df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa_isin.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [19]:
# 4.1 ¬øCu√°ntos ataques se han producido en cada pa√≠s?

df_usa_count = df_aus_usa["Country"].value_counts()
df_usa_count

USA          719
AUSTRALIA    324
Name: Country, dtype: int64

In [20]:
# Otra forma que probamos:

# df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
# df_aus_usa.head()

In [21]:
# 4.2 ¬øHa habido ataques en Australia a gente que estuviera 
# remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [22]:
df_aus_unique = df_aus_usa["Country"].unique()
df_aus_unique

array(['USA', 'AUSTRALIA'], dtype=object)

In [23]:
df_aus_paddling = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Activity"] == "Paddling")]
df_aus_paddling.head()

# No sabemos.

Empty DataFrame
Columns: [Case Number, Unnamed: 0, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , HREF]
Index: []

In [24]:
# 4.3 ¬øCu√°ntos ataques se han producido en Australia antes del 2000?

ataque_antes_2000 = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Year"] < 2000)]

In [25]:

print(f'Antes del 2000 hubo {ataque_antes_2000.shape[0]} ataques.')

Antes del 2000 hubo 151 ataques.

In [26]:
# 4.4 ¬øY despu√©s del 2000?

ataque_despues_2000 = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Year"] >= 2000)]

In [27]:

print(f'Despues del 2000 hubo {ataque_despues_2000.shape[0]} ataques.')

Despues del 2000 hubo 173 ataques.

In [30]:
ataque_despues_2000 = df_tiburones[(df_tiburones["Sex "] == "F")]

In [31]:
# Extraed unicamente los ataques a mujeres.

# ataques_mujeres = df_tiburones[(df_tiburones["Sex"] == "F")].value_counts()

df_ataques = df_tiburones[df_tiburones["Sex "] == "F"]
df_ataques


# No se sabe.

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,53,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,2017.10.22,71,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,2017.10.05,75,2017.0,Unprovoked,USA,Hawaii,"Kama¬ëole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4151,1958.04.05,4163,1958.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Uvongo,Paddling in knee-deep water,Fay Jones Bester,F,28,11h10,3 m [10'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4170,1957.12.30,4182,1957.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Margate,Standing,Julia Painting,F,14,12h40,1.8 m [6'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4678,1942.12.26,4690,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Bantry Bay, near Ironstone Point, Middle Harbo...",Dog paddling or standing,Denise Rosemary Burch,F,15,10h50,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4706,1942.01.04,4718,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Egg Rock, Middle Harbor, Sydney",Swimming,Zita Steadman,F,28,15h00,"Bull shark, 4 m [13']",http://sharkattackfile.net/spreadsheets/pdf_di...
4913,1934.12.31.b,4925,1934.0,Unprovoked,AUSTRALIA,New South Wales,George¬ís River at Kentucky,Splashing,Beryl Morrin,F,13,20h15,"Tiger shark, 1.5 m [5']",http://sharkattackfile.net/spreadsheets/pdf_di...

In [32]:
df_tiburones.columns

Index(['Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'HREF'],
      dtype='object')

In [33]:
# ¬øCu√°ntas mujeres fueron atacadas en Espa√±a?

df_ataques_espa√±a = df_ataques[(df_ataques["Country"] == "SPAIN") & (df_ataques["Sex "] == "F")]
df_ataques_espa√±a

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castell√≥n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...

In [34]:
# Extraed los ataques que se hayan producido en el a√±o 2000, 1997 y 2006.
# Utilizad el m√©todo isin() para resolver este ejercicio.

df_ataques_fechas_mix = df_tiburones[df_tiburones["Year"].isin([1997, 2000, 2006])]
df_ataques_fechas_mix.head(5)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
1407,2006.12.18,1412,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,2006.12.11,1413,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1409,2006.12.10,1414,2006.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Royce Fraley,M,43,11h50,"White shark, 12' to 15'",http://sharkattackfile.net/spreadsheets/pdf_di...
1410,2006.12.06,1415,2006.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Fishing,Peter Willoughby,M,25,"""Evening""","Raggedtooth shark, 150-kg",http://sharkattackfile.net/spreadsheets/pdf_di...
1411,2006.12.02,1416,2006.0,Unprovoked,AUSTRALIA,Western Australia,Wharton Beach,Body boarding,Zac Golebiowski,M,15,07h30,"White shark, 5m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [35]:
# Si extraemos los valores √∫nicos de la columna species nos 
# podemos dar cuenta que est√° un poco sucia y extraer informacion
# √∫til de la misma se puede convertir en algo dif√≠cil.
#  
# En este ejercicio tendr√©is que extraer los ataques que 
# han ocurrido por tibur√≥n blanco (lo encontraremos en 
# la columna species como algo que contenga white o White). 
# Usad el m√©todo str.contains() para resolver este ejercicio.

df_tiburonblanco = df_tiburones[df_tiburones["Species "].str.contains("White", "white", regex=True)]
df_tiburonblanco.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [36]:
# Extraed ahora los ataques por tibur√≥n blanco o tigre. 
#Utilizad el m√©todo str.contains() para resolver este ejercicio.
#patrones de regex posibles: '[W|w]hite|[T|t]iger'

df_tiburonblanco_tigre = df_tiburones[df_tiburones["Species "].str.contains("White|white|Tiger|tiger", regex=True)]
df_tiburonblanco_tigre.head(5)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
18,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
23,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [37]:


# Utilizando la columna de year cread una nueva columna llamada 
# siglo que tiene siglo-XX o siglo-XXI. Donde el a√±o sea menor
# que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.

df_tiburones["Siglo"] = np.where(df_tiburones["Year"] <= 2000, "siglo-XX", "siglo-XXI")

In [38]:
df_tiburones["Siglo"].unique()

array(['siglo-XXI', 'siglo-XX'], dtype=object)

In [39]:
# Guardad como un archivo csv nuevo. 
# Lo usaremos en el pair programming de ma√±ana.

df_tiburones.to_csv("datos/04-attacks.csv")