In [180]:
####################################    Pair Programming Pandas IV      ####################################

# Hoy seguiremos trabajando con el csv de ataques que exploramos ayer.
#  Para eso, ayer guardasteis al final del pair programming al que 
# le habíamos elimiando algunas columnas. Utilizad ese fichero.
import pandas as pd
import numpy as np

# En la lección de hoy tendréis que ir contestando una serie 
# de preguntas que os planteamos. Para ello tendréis que aplicar
#  los conocimientos adquiridos en la clase invertida sobre como
#  filtrar datos en el DataFrame y como reemplazar valores en el DataFrame.

In [181]:
# Cargad el csv que guardasteis ayer.
df_tiburones = pd.read_csv("03-attacks_new1.csv")
df_tiburones.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [182]:
# Antes de seguir con las preguntas, este DataFrame 
# está terriblemente sucio. En las próximas sesiones 
# lo iremos limpiando. Para evitar posibles errores con los nulos
# vamos a eliminar todos los nulos del DataFrame.
# Para ello vamos a utilizar el método .dropna() de pandas. 
# Tendréis que ejecutar la siguiente línea de código para eliminar 
# los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [183]:
df_tiburones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  6113 non-null   object
 1   Unnamed: 0   6114 non-null   int64
 2   Year         6114 non-null   float64
 3   Type         6110 non-null   object
 4   Country      6074 non-null   object
 5   Area         5706 non-null   object
 6   Location     5626 non-null   object
 7   Activity     5603 non-null   object
 8   Name         5914 non-null   object
 9   Sex          5564 non-null   object
 10  Age          3448 non-null   object
 11  Time         2934 non-null   object
 12  Species      3409 non-null   object
 13  HREF         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

In [184]:
df_total = df_tiburones.shape
df_total

(6114, 14)

In [185]:
# ¿Cuántas filas se han eliminado con esta línea de código?

df_tiburones.dropna(inplace = True)
df_tiburones

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...

In [186]:
df_tiburones.shape

(1502, 14)

In [187]:
df_total[0]-df_tiburones.shape[0]

4612

In [188]:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?
df_ataque_usa = df_tiburones[df_tiburones["Country"] == "USA"]
df_ataque_usa.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [189]:
df_ataque_usa.shape

(719, 14)

In [190]:
print(f'En USA se han producido {(df_ataque_usa.shape[0])} ataques')

En USA se han producido 719 ataques

In [191]:
# ¿Y en España?

df_spain = df_tiburones[df_tiburones["Country"] == "SPAIN"]
df_spain.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [192]:
df_spain.shape

(5, 14)

In [193]:
print(f'En España se han producido {(df_spain.shape[0])} ataques')

En España se han producido 5 ataques

In [194]:
# 3.1 ¿En qué regiones se han producido los ataques (columna location) ?

df_spain_location = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Location"])]
df_spain_location.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [195]:
df_spain_location.value_counts()

Case Number   Unnamed: 0  Year    Type        Country  Area                 Location                        Activity  Name                                 Sex   Age  Time    Species                          HREF
1993.09.03    2476        1993.0  Unprovoked  SPAIN    Costa Blanca         Playa de las Arenas, Valencia   Swimming  Jorge Durich Heredia (or Hernandez)  M     69   08h00   1.2 m [4'] shark                 http://sharkattackfile.net/spreadsheets/pdf_directory/1993.09.03-Heredia.pdf                                                        1
2010.07.16.b  1011        2010.0  Provoked    SPAIN    Grand Canary Island  Sardina del Norte, Gáldar       Swimming  male                                 M     9    19h15   Angel shark                      http://sharkattackfile.net/spreadsheets/pdf_directory/2010.07.16.b-Spain.pdf                                                        1
2015.08.18.a  378         2015.0  Invalid     SPAIN    Alicante             Poniente Beach, Benidorm        Swimming  male                                 M     10   11h00   Shark involvement not confirmed  http://sharkattackfile.net/spreadsheets/pdf_directory/2015.08.18.a-Benidorm.pdf                                                     1
2016.07.29    234         2016.0  Unprovoked  SPAIN    Alicante Province    Arenales del Sol                Swimming  male                                 M     40   11h30   Blue shark                       http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf    1
2017.08.26.b  98          2017.0  Invalid     SPAIN    Castellón            Grao de Moncofa                 Swimming  female                               F     11   Midday  Shark involvement questionable   http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.26.b-Spain.pdf                                                        1
dtype: int64

In [196]:
# 3.2 ¿Cuántos ataques se han producido en cada área (columna area?

#df_spain_ataques = (df_tiburones["Area"]).value_counts()
# df_spain_ataques, No sabemos cuál sería la solución

df_spain_ataques = df_spain["Area"].value_counts()
df_spain_ataques

# df_spain_ataques = (df_tiburones["Area"]).value_counts()
# df_spain_ataques, No sabemos cuál sería la solución.
# df_spain2 = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Area"])].value_counts()
# df_spain2

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: Area, dtype: int64

In [197]:
# Extraed un DataFrame nuevo con los ataques que se han producido 
# en Australia y Estados Unidos. 

df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [198]:

# 📌 Nota Este ejercicio se puede resolver usando 
# dos condiciones de filtrado o usando el método isin(). 
# Hacedlo con ambas herramientas.

df_aus_usa_isin = df_tiburones[(df_tiburones["Country"] == "USA").isin(df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa_isin.head()

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [199]:
# 4.1 ¿Cuántos ataques se han producido en cada país?

df_usa_count = df_aus_usa["Country"].value_counts()
df_usa_count

USA          719
AUSTRALIA    324
Name: Country, dtype: int64

In [200]:
# Otra forma que probamos:

# df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
# df_aus_usa.head()

In [201]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera 
# remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [202]:
df_aus_paddling = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Activity"] == "Paddling")]
df_aus_paddling.head()

# No sabemos.
#

Empty DataFrame
Columns: [Case Number, Unnamed: 0, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , HREF]
Index: []

In [203]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

ataque_antes_2000 = (df_tiburones["Year"] < 2000).value_counts()
print(f'Antes del 2000 hubo {ataque_antes_2000}')

Antes del 2000 hubo False    785
True     717
Name: Year, dtype: int64

In [204]:
# 4.4 ¿Y después del 2000?

ataque_despues_2000 = (df_tiburones["Year"] >= 2000).value_counts()
print(f'Despues del 2000 hubo {ataque_despues_2000}')

Despues del 2000 hubo True     785
False    717
Name: Year, dtype: int64

In [215]:
# Extraed unicamente los ataques a mujeres.

# ataques_mujeres = df_tiburones[(df_tiburones["Sex"] == "F")].value_counts()

df_ataques = df_tiburones[df_tiburones["Sex"] == "F"]
df_ataques

# No se sabe.

KeyError: 'Sex'

In [214]:
# ¿Cuántas mujeres fueron atacadas en España?

df_ataques_españa = df_ataques[df_ataques["Country"] == "SPAIN"]
df_ataques_españa

NameError: name 'df_ataques' is not defined

In [218]:
# Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006.
# Utilizad el método isin() para resolver este ejercicio.

df_ataques_fechas_mix = df_tiburones[(df_tiburones["Year"] == "2000").isin(df_tiburones["Year"] == "1997").isin(df_tiburones["Year"] == "2006")]
df_ataques_fechas_mix.head(3)

Empty DataFrame
Columns: [Case Number, Unnamed: 0, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , HREF]
Index: []

In [222]:
# Si extraemos los valores únicos de la columna species nos 
# podemos dar cuenta que está un poco sucia y extraer informacion
# útil de la misma se puede convertir en algo difícil.
#  
# En este ejercicio tendréis que extraer los ataques que 
# han ocurrido por tiburón blanco (lo encontraremos en 
# la columna species como algo que contenga white o White). 
# Usad el método str.contains() para resolver este ejercicio.

df_tiburonblanco = df_tiburones[df_tiburones["Species"].str.contains("White", "white", regex=True)]
df_tiburonblanco.head(2)

KeyError: 'Species'

In [221]:
# Extraed ahora los ataques por tiburón blanco o tigre. 
#Utilizad el método str.contains() para resolver este ejercicio.

df_tiburonblanco_tigre = df_tiburones[df_tiburones["Species"].str.contains("White", "white", "Tiger", "tiger", regex=True)]
df_tiburonblanco_tigre.head(2)

KeyError: 'Species'

In [227]:


# Utilizando la columna de year cread una nueva columna llamada 
# siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor
# que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

df_siglo_xx = df_tiburones["Year"] = np.where(df_tiburones["siglo-XX"] <= 2000, "siglo-XXI")

KeyError: 'siglo-XX'

In [ ]:
# Guardad como un archivo csv nuevo. 
# Lo usaremos en el pair programming de mañana.
df_csv.to_csv("04-attacks.csv")

NameError: name 'df_csv' is not defined