In [175]:
####################################    Pair Programming Pandas IV      ####################################

# Hoy seguiremos trabajando con el csv de ataques que exploramos ayer.
#  Para eso, ayer guardasteis al final del pair programming al que 
# le habíamos elimiando algunas columnas. Utilizad ese fichero.
import pandas as pd
import numpy as np

# En la lección de hoy tendréis que ir contestando una serie 
# de preguntas que os planteamos. Para ello tendréis que aplicar
#  los conocimientos adquiridos en la clase invertida sobre como
#  filtrar datos en el DataFrame y como reemplazar valores en el DataFrame.

In [210]:
# Cargad el csv que guardasteis ayer.
df_tiburones = pd.read_csv("03-attacks.csv")
df_tiburones.head(3)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [177]:
# Antes de seguir con las preguntas, este DataFrame 
# está terriblemente sucio. En las próximas sesiones 
# lo iremos limpiando. Para evitar posibles errores con los nulos
# vamos a eliminar todos los nulos del DataFrame.
# Para ello vamos a utilizar el método .dropna() de pandas. 
# Tendréis que ejecutar la siguiente línea de código para eliminar 
# los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [178]:
df_tiburones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              6114 non-null   int64
 1   Case Number             6113 non-null   object
 2   Year                    6114 non-null   float64
 3   Type                    6110 non-null   object
 4   Country                 6074 non-null   object
 5   Area                    5706 non-null   object
 6   Location                5626 non-null   object
 7   Activity                5603 non-null   object
 8   Name                    5914 non-null   object
 9   Sex                     5564 non-null   object
 10  Age                     3448 non-null   object
 11  Time                    2934 non-null   object
 12  Species                 3409 non-null   object
 13  Investigator or Source  6098 non-null   object
 14  pdf                     6114 non-null   object
 15  href formula            6113 non-null   object
 16  href                    6114 non-null   object
 17  Case Number.1           6114 non-null   object
 18  Case Number.2           6114 non-null   object
 19  original order          6114 non-null   float64
 20  Unnamed: 22             1 non-null      object
 21  Unnamed: 23             2 non-null      object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.0+ MB

In [179]:
df_total = df_tiburones.shape
df_total

(6114, 22)

In [180]:
# ¿Cuántas filas se han eliminado con esta línea de código?

df_tiburones.dropna(inplace = True)

In [181]:
df_tiburones.shape

(0, 22)

In [182]:
# (df_total[0]).sub(df_tiburones.shape)

In [202]:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?
df_ataque_usa = df_tiburones[df_tiburones["Country"] == "USA"]
df_ataque_usa.head(3)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [184]:
df_ataque_usa.shape

(0, 22)

In [203]:
# ¿Y en España?

df_spain = df_tiburones[df_tiburones["Country"] == "SPAIN"]
df_spain.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
82,82,2017.09.16.b,2017.0,Unprovoked,SPAIN,Canary Islands,Gran Canaria,Body surfing,male,M,...,"Porbeagle, 1.5 m",Turismo La Aldea,2017.09.16.b-GrandCanary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.16.b,2017.09.16.b,6221.0,NaN,NaN
98,98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,...,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0,NaN,NaN
113,113,2017.07.23.a,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,...,Blue shark 6',"Daily Record, 7/24/2017",2017.07.23.a-Majorca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.23.a,2017.07.23.a,6190.0,NaN,NaN
130,130,2017.06.17,2017.0,Unprovoked,SPAIN,Ibiza Island,Playa den Bossa,Swimming,male,M,...,NaN,"Diario de Ibiza, 6/17/'2017",2017.06.17-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.17,2017.06.17,6173.0,NaN,NaN
233,234,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,6069.0,NaN,NaN

In [186]:
df_spain.shape

(0, 22)

In [204]:
# 3.1 ¿En qué regiones se han producido los ataques (columna location) ?

df_spain = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Location"])]
df_spain.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
82,82,2017.09.16.b,2017.0,Unprovoked,SPAIN,Canary Islands,Gran Canaria,Body surfing,male,M,...,"Porbeagle, 1.5 m",Turismo La Aldea,2017.09.16.b-GrandCanary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.16.b,2017.09.16.b,6221.0,NaN,NaN
98,98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,...,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0,NaN,NaN
113,113,2017.07.23.a,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,...,Blue shark 6',"Daily Record, 7/24/2017",2017.07.23.a-Majorca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.23.a,2017.07.23.a,6190.0,NaN,NaN
130,130,2017.06.17,2017.0,Unprovoked,SPAIN,Ibiza Island,Playa den Bossa,Swimming,male,M,...,NaN,"Diario de Ibiza, 6/17/'2017",2017.06.17-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.17,2017.06.17,6173.0,NaN,NaN
233,234,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,6069.0,NaN,NaN

In [188]:
df_spain.value_counts()

Series([], dtype: int64)

In [208]:
# 3.2 ¿Cuántos ataques se han producido en cada área (columna area?

'''df_spain_ataques = (df_tiburones["Area"]).value_counts()
df_spain_ataques, No sabemos cuál sería la solución'''

df_spain = df_tiburones[(df_tiburones["Country"] == "SPAIN") & (df_tiburones["Area"])]
df_spain.head()

Florida              1025
New South Wales       480
Queensland            306
Hawaii                293
California            286
                     ...
St. Mary's Parish       1
Romblon Province        1
Lamu Archipelago        1
Los Vilos               1
Maharashtra             1
Name: Area, Length: 791, dtype: int64

In [214]:
# Extraed un DataFrame nuevo con los ataques que se han producido 
# en Australia y Estados Unidos. 

df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") & (df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa.head()

Empty DataFrame
Columns: [Unnamed: 0, Case Number, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 22 columns]

In [213]:

# 📌 Nota Este ejercicio se puede resolver usando 
# dos condiciones de filtrado o usando el método isin(). 
# Hacedlo con ambas herramientas.

df_aus_usa_isin = df_tiburones[(df_tiburones["Country"] == "USA").isin(df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa_isin.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [218]:
# 4.1 ¿Cuántos ataques se han producido en cada país?

df_aus_usa = df_tiburones[df_tiburones["Country"] == "USA, AUSTRALIA"]
df_aus_usa.head()

Empty DataFrame
Columns: [Unnamed: 0, Case Number, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 22 columns]

In [223]:
df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN

In [192]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera 
# remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [226]:
df_aus_paddling = df_tiburones[((df_tiburones["Country"] == "Australia") & (["Activity"] == "Paddling"))]
df_aus_paddling.head()

Empty DataFrame
Columns: [Unnamed: 0, Case Number, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 22 columns]

In [193]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [194]:
# 4.4 ¿Y después del 2000?

In [195]:
# Extraed unicamente los ataques a mujeres.

In [196]:
# ¿Cuántas mujeres fueron atacadas en España?

In [197]:
# Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006.
# Utilizad el método isin() para resolver este ejercicio.

In [198]:
# Si extraemos los valores únicos de la columna species nos 
# podemos dar cuenta que está un poco sucia y extraer informacion
# útil de la misma se puede convertir en algo difícil.
#  
# En este ejercicio tendréis que extraer los ataques que 
# han ocurrido por tiburón blanco (lo encontraremos en 
# la columna species como algo que contenga white o White). 
# Usad el método str.contains() para resolver este ejercicio.

In [199]:
# Extraed ahora los ataques por tiburón blanco o tigre. 
#Utilizad el método str.contains() para resolver este ejercicio.
# Utilizando la columna de year cread una nueva columna llamada 
# siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor
# que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [200]:
# Guardad como un archivo csv nuevo. 
# Lo usaremos en el pair programming de mañana.
df_csv.to_csv("04-attacks.csv")

NameError: name 'df_csv' is not defined