# Pair Programming Pandas V

En este ejercicio pondremos en práctica los conceptos 
básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:
El csv que creamos en el ejercicio de pair programming Pandas IV, 
dónde recordamos eliminamos ciertas columnas que no eran necesarias, 
y habíamos creado nuevas.


📌 NOTA Cuando hagáis la unión considerad que la información que más 
nos interesa es la del DataFrame que creamos en el apartado anterior,
lo cual determinará el tipo de unión.

Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [208]:
import pandas as pd
import numpy as np
import os
from os import getcwd

In [209]:
df_t = pd.read_csv("../Pandas/03-attacks_new1.csv")
df_t.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [210]:

# El csv llamado attacks_historico donde tenemos información sobre 
# los ataques de tiburón previos al año 1800, este fichero lo 
# tenéis un poco mas abajo para descargar.

df_t_h = pd.read_csv("../Pandas/05-attacks_historico.csv", index_col = 0)
df_t_h.head(3)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN

In [211]:

# El csv llamado attacks_adicional donde tenemos información 
# sobre los ataques de tiburón. de nuevo, 
# este fichero lo tenéis abajo para descargar.
df_t_a = pd.read_csv("../Pandas/05-attacks_adicional.csv", index_col = 0)
df_t_a.head(3)

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

El principal objetivo de este ejercicio de pair programming
es acabar teniendo un único DataFrame con toda la información
contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:
Cargad los tres ficheros nombrados anteriormente y los exploramos para 
familizarizarnos con ellos y saber que información tienen en común
y debatir con tu compañera como podríamos juntar toda la información.

# Describe

In [212]:
# Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes .

nombre_tibu3_des = df_t.describe().T
nombre_tibuhistorico_des = df_t_h.describe().T
nombre_tibuadicional_des = df_t_a.describe().T

In [213]:
nombre_tibu3_des

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,6114.0,3065.554629,1769.652139,0.0,1534.25,3066.5,4596.75,6131.0
Year,6114.0,1968.831207,43.745920,1801.0,1946.00,1980.0,2005.00,2018.0

In [214]:
nombre_tibuhistorico_des

,count,mean,std,min,25%,50%,75%,max
Year,170.0,428.617647,744.448512,0.0,0.00,0.0,394.25,1800.0
original order,170.0,86.500000,49.218899,2.0,44.25,86.5,128.75,171.0
Unnamed: 22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
nombre_tibuadicional_des

            count unique         top  freq
Case Number  6287   6287  2018.06.25     1
Fatal (Y/N)  5751      8           N  4284
Injury       6258   3729       FATAL   801
Date         6286   5431        1957    11

# Columns

In [216]:
nombre_tibu3_col = df_t.columns
nombre_tibuhistorico_col = df_t_h.columns
nombre_tibuadicional_col = df_t_a.columns

In [217]:
nombre_tibu3_col

Index(['Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'HREF'],
      dtype='object')

In [218]:
nombre_tibuhistorico_col

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [219]:
nombre_tibuadicional_col

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

# Shape

In [220]:
nombre_tibu3_shape = df_t.shape
nombre_tibuhistorico_shape = df_t_h.shape
nombre_tibuadicional_shape = df_t_a.shape

In [221]:
nombre_tibu3_shape

(6114, 14)

In [222]:
nombre_tibuhistorico_shape

(170, 21)

In [223]:
nombre_tibuadicional_shape

(6288, 4)

# Borrar columnas unnamed

In [224]:
df_t = df_t.drop(["Unnamed: 0"], axis = 1)
df_t.head(1)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [225]:
df_t_h = df_t_h.drop(["Unnamed: 22", "Unnamed: 23"], axis = 1)
df_t_h.head(1)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0

# Cambiar el nombre a las columnas

# Normal

In [226]:
lista_columnas = {col: col.strip().replace(" ", "_").lower() for col in df_t.columns}
df_t.rename(columns=lista_columnas, inplace=True)

In [227]:
df_t.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

# Historico

In [228]:

lista_columnas_historico = {col : col.strip().replace(" ", "_").lower() for col in df_t_h.columns}
df_t_h.rename(columns=lista_columnas_historico, inplace=True)

In [229]:
df_t_h.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0

# Adicional

In [230]:
lista_columnas_adicional = {col: col.strip().replace(" ", "_").lower() for col in df_t_a.columns}
df_t_a.rename(columns=lista_columnas_adicional, inplace=True)

In [231]:
df_t_a.head(1)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

#  ¿Están todas en minúsculas? 
Si

In [232]:
df_t.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href'],
      dtype='object')

In [233]:
df_t_h.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [234]:
df_t_a.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

# ¿Tienen espacios?
No

# En caso de que no sean todas iguales unificad el nombre de las columnas.
Están unificadas

En este momento nos habremos dado cuenta que el DataFrame que generamos 
en el pair programming Pandas IV es similar al DataFrame de los datos historicos.
Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles,
pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos 
unir esos dataframes. Realizad los cambios que creais necesarios para que los
dataframes sean iguales y luego juntadlos usando el mejor método.

In [235]:
df_t.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href'],
      dtype='object')

In [236]:
df_t_h.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [237]:
df_t_a.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

In [257]:
df_concat = pd.concat([df_t_h,df_t], axis=0)
df_concat.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0

In [248]:
df_fin = df_concat.merge(df_t_a, how = "left", on= "case_number")
df_fin.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,...,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,fatal_(y/n),injury,date
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,Y,FATAL,Reported May-28-1797

In [249]:
df_fin.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'fatal_(y/n)',
       'injury', 'date'],
      dtype='object')

In [250]:
df_fin.shape

(6284, 22)

In [251]:
df_fin.describe()

              year  original_order
count  6284.000000      170.000000
mean   1927.164067       86.500000
std     281.458635       49.218899
min       0.000000        2.000000
25%    1942.000000       44.250000
50%    1977.000000       86.500000
75%    2005.000000      128.750000
max    2018.000000      171.000000

In [ ]:
# Es el momento de unir la información de todos los ataques de tiburón
#  que acabamos de crear con el DataFrame de información adicional. 
# Debatid que método es el más correcto para unir toda esta información 
# y ejecutadlo.

In [252]:
df_fin.to_csv("05-attacks_union.csv")

In [255]:
leer = pd.read_csv("05-attacks_union.csv", index_col=0)
leer.head(20)

,case_number,year,type,country,area,location,activity,name,sex,age,...,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,fatal_(y/n),injury,date
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,Y,FATAL,Reported May-28-1797
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,...,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,...,"G.P. Whitley; D. Baldridge, p.162",1791.00.00-aboriginal woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1791.00.00,1791.00.00,168.0,Y,"FATAL, ""bitten in two""",1791
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,...,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10,167.0,N,"No injury to occupants, shark bit oar and rudder",10-May-1788
5,1787.07.05,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,...,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0,Y,FATAL,05-Jul-1787
6,1786.08.10.R,1786.0,Unprovoked,BARBADOS,NaN,NaN,Washing himself,a sailor from the York Merchant,M,NaN,...,"Belfast Evening Post, 8/10/1786",1786.08.10.R-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1786.08.10.R,1786.08.10.R,165.0,Y,FATAL,Reported 10-Aug-1786
7,1785.09.26.R,1785.0,Unprovoked,ENGLAND,Sussex,Brighton,NaN,NaN,M,NaN,...,"C. Moore, GSAF",1785.09.26.R-Brighton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1785.09.26.R,1785.09.26.R,164.0,Y,Human remains recovered from shark,Reported 26-Sep-1785
8,1784.12.12,1784.0,Unprovoked,JAMAICA,NaN,Kingston,Swimming,Richard Page,M,NaN,...,"The Pennsylvaia Gazette, 3/16/1785",1784.12.12-Page.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1784.12.12,1784.12.12,163.0,Y,NaN,12-Dec-1784
9,1783.03.02,1783.0,Sea Disaster,MARTINIQUE,NaN,Foundering of the privateer Holker,NaN,NaN,M,NaN,...,"C.Moore, GSAF",1783.03.02-Martinique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1783.03.02,1783.03.02,162.0,Y,Many of the crew were taken by sharks,02-Mar-1783
10,1780.08.08,1780.0,Unprovoked,USA,Florida,"Pensacola Harbor, Escambia County",Swimming,Joseph Feron,M,NaN,...,"C.Moore, GSAF",1780.08.08-Feron.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1780.08.08,1780.08.08,161.0,Y,FATAL,08-Aug-1780
11,1779.00.00,1779.0,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,Nu'u-anu-pa'a hu,M,young,...,"G.H. Balazs; J. Borg, p.68; L. Taylor (1993), ...",1779.00.00-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1779.00.00,1779.00.00,160.0,Y,"FATAL, buttock lacerated",1779
12,1776.00.00.R,1776.0,Unprovoked,GUINEA,NaN,NaN,Murder,African slave,M,NaN,...,T. Pennant,1776.00.00.R-Slave.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1776.00.00.R,1776.00.00.R,159.0,Y,FATAL,Reported 1776
13,1776.00.00.b,1776.0,Boat,GREENLAND,NaN,NaN,NaN,Occupants of skin boats,NaN,NaN,...,T. Pennant,1776.00.00-Greenland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1776.00.00.b,1776.00.00.b,158.0,Y,FATAL,1776
14,1771.07.12.R,1771.0,Unprovoked,USA,NaN,Damiscotte,Fishing,male,M,NaN,...,"C. Moore, GSAF",1771.07.12.R-Damiscotte.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1771.07.12.R,1771.07.12.R,157.0,Y,FATAL,Reported 12-Jul-1771
15,1767.00.00,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,...,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0,NaN,Lacerations to arm & leg,1767
16,1764.00.00,1764.0,Unprovoked,SPAIN,NaN,Guadalquivir River,Swimming,male,M,NaN,...,"C. Moore, GSAF",1764.00.00-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1764.00.00,1764.00.00,155.0,Y,FATAL,1764
17,1758.00.00,1758.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,Fell overboard from a frigate & was swallowed ...,sailor,M,NaN,...,A.M. Hodgkin,1758.00.00-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1758.00.00,1758.00.00,154.0,N,"""He was taken up alive and but little injured.""",1758
18,1753.10.27.R,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,...,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753.10.27.R,1753.10.27.R,153.0,Y,FATAL,Reported 27-Oct-1753
19,1751.07.27,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,...,"Pennsylvania Gazette, 8/15/1751",1751.07.27-Massachusetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1751.07.27,1751.07.27,152.0,Y,FATAL,27-Jul-1751