# Pair Programming Pandas V

En este ejercicio pondremos en práctica los conceptos 
básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:
El csv que creamos en el ejercicio de pair programming Pandas IV, 
dónde recordamos eliminamos ciertas columnas que no eran necesarias, 
y habíamos creado nuevas.


📌 NOTA Cuando hagáis la unión considerad que la información que más 
nos interesa es la del DataFrame que creamos en el apartado anterior,
lo cual determinará el tipo de unión.

Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [39]:
import pandas as pd
import numpy as np
import os
from os import getcwd

In [40]:
df_t = pd.read_csv("../Pandas/03-attacks_new1.csv")
df_t.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [41]:

# El csv llamado attacks_historico donde tenemos información sobre 
# los ataques de tiburón previos al año 1800, este fichero lo 
# tenéis un poco mas abajo para descargar.

df_t_h = pd.read_csv("../Pandas/05-attacks_historico.csv", index_col = 0)
df_t_h.head(3)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN

In [42]:

# El csv llamado attacks_adicional donde tenemos información 
# sobre los ataques de tiburón. de nuevo, 
# este fichero lo tenéis abajo para descargar.
df_t_a = pd.read_csv("../Pandas/05-attacks_adicional.csv", index_col = 0)
df_t_a.head(3)

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

El principal objetivo de este ejercicio de pair programming
es acabar teniendo un único DataFrame con toda la información
contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:
Cargad los tres ficheros nombrados anteriormente y los exploramos para 
familizarizarnos con ellos y saber que información tienen en común
y debatir con tu compañera como podríamos juntar toda la información.

# Describe

In [43]:
# Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes .

nombre_tibu3_des = df_t.describe().T
nombre_tibuhistorico_des = df_t_h.describe().T
nombre_tibuadicional_des = df_t_a.describe().T

In [44]:
nombre_tibu3_des

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,6114.0,3065.554629,1769.652139,0.0,1534.25,3066.5,4596.75,6131.0
Year,6114.0,1968.831207,43.745920,1801.0,1946.00,1980.0,2005.00,2018.0

In [45]:
nombre_tibuhistorico_des

,count,mean,std,min,25%,50%,75%,max
Year,170.0,428.617647,744.448512,0.0,0.00,0.0,394.25,1800.0
original order,170.0,86.500000,49.218899,2.0,44.25,86.5,128.75,171.0
Unnamed: 22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
nombre_tibuadicional_des

            count unique         top  freq
Case Number  6287   6287  2018.06.25     1
Fatal (Y/N)  5751      8           N  4284
Injury       6258   3729       FATAL   801
Date         6286   5431        1957    11

# Columns

In [47]:
nombre_tibu3_col = df_t.columns
nombre_tibuhistorico_col = df_t_h.columns
nombre_tibuadicional_col = df_t_a.columns

In [48]:
nombre_tibu3_col

Index(['Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'HREF'],
      dtype='object')

In [49]:
nombre_tibuhistorico_col

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [50]:
nombre_tibuadicional_col

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

# Shape

In [51]:
nombre_tibu3_shape = df_t.shape
nombre_tibuhistorico_shape = df_t_h.shape
nombre_tibuadicional_shape = df_t_a.shape

In [52]:
nombre_tibu3_shape

(6114, 14)

In [53]:
nombre_tibuhistorico_shape

(170, 21)

In [54]:
nombre_tibuadicional_shape

(6288, 4)

# Borrar columnas unnamed

In [55]:
df_t = df_t.drop(["Unnamed: 0"], axis = 1)
df_t.head(1)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [56]:
df_t_h = df_t_h.drop(["Unnamed: 22", "Unnamed: 23"], axis = 1)
df_t_h.head(1)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0

# Cambiar el nombre a las columnas

# Normal

In [57]:
lista_columnas = {col: col.strip().replace(" ", "_").lower() for col in df_t.columns}
df_t.rename(columns=lista_columnas, inplace=True)

In [58]:
df_t.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

# Historico

In [59]:

lista_columnas_historico = {col : col.strip().replace(" ", "_").lower() for col in df_t_h.columns}
df_t_h.rename(columns=lista_columnas_historico, inplace=True)

In [60]:
df_t_h.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0

# Adicional

In [61]:
lista_columnas_adicional = {col: col.strip().replace(" ", "_").lower() for col in df_t_a.columns}
df_t_a.rename(columns=lista_columnas_adicional, inplace=True)

In [62]:
df_t_a.head(1)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

#  ¿Están todas en minúsculas? 
Si

In [63]:
df_t.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href'],
      dtype='object')

In [64]:
df_t_h.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [65]:
df_t_a.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

# ¿Tienen espacios?
No

# En caso de que no sean todas iguales unificad el nombre de las columnas.
Están unificadas

En este momento nos habremos dado cuenta que el DataFrame que generamos 
en el pair programming Pandas IV es similar al DataFrame de los datos historicos.
Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles,
pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos 
unir esos dataframes. Realizad los cambios que creais necesarios para que los
dataframes sean iguales y luego juntadlos usando el mejor método.

In [66]:
df_t.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href'],
      dtype='object')

In [67]:
df_t_h.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [68]:
df_t_a.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

In [69]:
# salen nulos el nombre la edad el time y species
#df_concat = pd.concat([df_t_h,df_t], axis=0)
#df_concat.head(2)

In [70]:
df_concat = pd.concat([df_t,df_t_h], axis=0)
df_concat.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df_fin = df_concat.merge(df_t_a, how = "left", on= "case_number")
df_fin.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,...,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018

In [72]:
df_fin.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href',
       'investigator_or_source', 'pdf', 'href_formula', 'case_number.1',
       'case_number.2', 'original_order', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [73]:
df_fin.shape

(6284, 22)

In [74]:
df_fin.describe()

              year  original_order
count  6284.000000      170.000000
mean   1927.164067       86.500000
std     281.458635       49.218899
min       0.000000        2.000000
25%    1942.000000       44.250000
50%    1977.000000       86.500000
75%    2005.000000      128.750000
max    2018.000000      171.000000

In [75]:
# Es el momento de unir la información de todos los ataques de tiburón
#  que acabamos de crear con el DataFrame de información adicional. 
# Debatid que método es el más correcto para unir toda esta información 
# y ejecutadlo.

In [76]:
df_fin.to_csv("05-attacks_union.csv")

In [77]:
leer = pd.read_csv("05-attacks_union.csv", index_col=0)
leer.head(20)

,case_number,year,type,country,area,location,activity,name,sex,age,...,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018
5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury, board bitten",03-Jun-2018
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Y,FATAL,03-Jun-2018
7,2018.05.27,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to foot. PROVOKED INCIDENT,27-May-2018
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Lower left leg bitten,26-May-2018
9,2018.05.26.a,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to foot,26-May-2018
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
11,2018.05.21,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Injuries to lower right leg and foot,21-May-2018
12,2018.05.13.b,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Severe bite to right forearm,13-May-2018
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018
14,2018.05.00,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Shallow lacerations to finger PROVOKED INCIDENT,May 2018
15,2018.05.12,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"Minor injury, marks on board",12-May-2018
16,2018.05.09,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury, surfboard damaged",09-May-2018
17,2018.04.30.R,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to ankle,Reported 30-Apr-2018
18,2018.04.28.b,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury, shark bit scuba gear",28-Apr-2018
19,2018.04.28.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury, knocked off board by shark",28-Apr-2018