In [3]:
import pandas as pd
import numpy as np
import os
from os import getcwd
pd.options.display.max_columns = None

###  Pair Programming Pandas VI

In [4]:
# Es el momento de poner en pr√°ctica los groupby de pandas. 
# Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.
# El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [5]:
df_union = pd.read_csv("05-attacks_union.csv", index_col=0 )# ponemos esto para que no nos agrege mas unnamed
df_union.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_union.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href',
       'investigator_or_source', 'pdf', 'href_formula', 'case_number.1',
       'case_number.2', 'original_order'],
      dtype='object')

In [7]:
df_union.shape

(6284, 19)

In [8]:
df_union.describe().T

,count,mean,std,min,25%,50%,75%,max
year,6284.0,1927.164067,281.458635,0.0,1942.00,1977.0,2005.00,2018.0
original_order,170.0,86.500000,49.218899,2.0,44.25,86.5,128.75,171.0

# 1.¬øCu√°ntos ataques hubo por pa√≠s? Devuelve un DataFrame.
üìå NOTA Ordena los resultados de mayor a menor. 
Esto todav√≠a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values().ten√©is una explicaci√≥n de c√≥mo hacerlo.

In [34]:
df_groupby_pais = pd.DataFrame(df_union.groupby("country")['country'].count())# importante la funcion de agregaci√≥n
df_groupby_pais.columns = ['ataques']# renombrar la columna porque se llaman igual
df_groupby_pais.sort_values(by='ataques', ascending=False, inplace=True)
df_groupby_pais

                  ataques
country
USA                  2222
AUSTRALIA            1335
SOUTH AFRICA          577
PAPUA NEW GUINEA      134
NEW ZEALAND           127
...                   ...
GUATEMALA               1
GREENLAND               1
GRAND CAYMAN            1
GHANA                   1
MALDIVES                1

[212 rows x 1 columns]

# 2.¬øCu√°ntos ataques ha habido por a√±o? Devuelve un DataFrame.
De nuevo ordena los resultados de mayor a menor.

In [35]:
df_union.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_groupby_anio = pd.DataFrame(df_union.groupby("year")['year'].count())
df_groupby_anio.columns = ['ataques']# renombrar la columna porque se llaman igual
df_groupby_anio.sort_values(by='ataques', ascending=False, inplace=True)
df_groupby_anio

        ataques
year
2015.0      143
2017.0      136
2016.0      130
2011.0      128
2014.0      126
...         ...
1807.0        1
1805.0        1
1804.0        1
1802.0        1
1791.0        1

[249 rows x 1 columns]

# 3.¬øCu√°ntos ataques hubo por a√±o y sexo? Devolved un DataFrame solo del a√±o 2000 en adelante.

In [39]:
df_union.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_groupby_anio = pd.DataFrame(df_union.groupby(["year","sex"])['year'].count())
df_groupby_anio.columns = ['ataques']# renombrar la columna porque se llaman igual
df_groupby_anio.sort_values(by='ataques', ascending=False, inplace=True)
df_groupby_anio

In [45]:
df_groupby_sex = pd.DataFrame(df_union.groupby(["year","sex"])['case_number'].count()).reset_index()
df_groupby_sexo = df_groupby_sex[df_groupby_sex['year']>2000]
df_groupby_sexo.columns = ['year','sex','ataques']
df_groupby_sexo

       year  sex  ataques
313  2001.0    F       13
314  2001.0    M       71
315  2002.0    F        9
316  2002.0    M       73
317  2003.0    F       12
318  2003.0    M       75
319  2004.0    F       14
320  2004.0    M       69
321  2004.0  lli        1
322  2005.0    F       13
323  2005.0    M       78
324  2005.0   M         1
325  2006.0    F       17
326  2006.0    M       80
327  2007.0    F       29
328  2007.0    M       78
329  2008.0    F       13
330  2008.0    M      103
331  2009.0    F       17
332  2009.0    M       97
333  2010.0    F       22
334  2010.0    M       79
335  2011.0    F       14
336  2011.0    M      109
337  2012.0    F       19
338  2012.0    M       91
339  2013.0    F       19
340  2013.0    M      101
341  2014.0    F       23
342  2014.0    M       92
343  2014.0   M         1
344  2015.0    F       27
345  2015.0    M      114
346  2016.0    F       21
347  2016.0    M      105
348  2017.0    F       40
349  2017.0    M       91
350  2018.0    F        6
351  2018.0    M       46

# 4.Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA.
¬øCu√°ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [46]:
df_union.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_groupby_paises = df_union[df_union['country'].isin(['USA','AUSTRALIA','SOUTH AFRICA'])]
df_groupby_paises.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_groupby_pais = pd.DataFrame(df_union.groupby(["sex"]).count())#fatales no lo vemos en la tabla

KeyError: 'contry'

# 5.¬øEn qu√© pa√≠s hubo m√°s ataques?
Usando el DataFrame creado en el ejercicio anterior.

# 6.¬øQu√© y cu√°ntos tipos de ataques hubo por pa√≠s?