In [4]:
import pandas as pd
import numpy as np
import os
from os import getcwd
pd.options.display.max_columns = None

###  Pair Programming Pandas VI

In [ ]:
# Es el momento de poner en prÃ¡ctica los groupby de pandas. 
# Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.
# El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [10]:
df_union = pd.read_csv("05-attacks_union.csv", index_col=0 )# ponemos esto para que no nos agrege mas unnamed
df_union.head(1)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,investigator_or_source,pdf,href_formula,case_number.1,case_number.2,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_union.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href',
       'investigator_or_source', 'pdf', 'href_formula', 'case_number.1',
       'case_number.2', 'original_order'],
      dtype='object')

In [12]:
df_union.shape

(6284, 19)

In [14]:
df_union.describe().T

,count,mean,std,min,25%,50%,75%,max
year,6284.0,1927.164067,281.458635,0.0,1942.00,1977.0,2005.00,2018.0
original_order,170.0,86.500000,49.218899,2.0,44.25,86.5,128.75,171.0

# 1.Â¿CuÃ¡ntos ataques hubo por paÃ­s? Devuelve un DataFrame.
ðŸ“Œ NOTA Ordena los resultados de mayor a menor. 
Esto todavÃ­a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values().tenÃ©is una explicaciÃ³n de cÃ³mo hacerlo.

# 2.Â¿CuÃ¡ntos ataques ha habido por aÃ±o? Devuelve un DataFrame.
De nuevo ordena los resultados de mayor a menor.

# 3.Â¿CuÃ¡ntos ataques hubo por aÃ±o y sexo? Devolved un DataFrame solo del aÃ±o 2000 en adelante.

# 4.Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA.
Â¿CuÃ¡ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

# 5.Â¿En quÃ© paÃ­s hubo mÃ¡s ataques?
Usando el DataFrame creado en el ejercicio anterior.

# 6.Â¿QuÃ© y cuÃ¡ntos tipos de ataques hubo por paÃ­s?